<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}"><img src="{{ site.baseurl }}/assets/at_mark.png" alt="{{ site.title }}"><img src="{{ site.logo2 | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.menu %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
        <li class="nav-link"><img src="{{ site.baseurl }}/assets/ko.png" height="14"> <a href="javascript:change_lang();"><img src="{{ site.baseurl }}/assets/en.png" height="14"></a></li>
      </ul>
    </nav>
  </div>
</header>
