<h2>에듀롬 이용자격 및 사용방법</h2>
<p>이용자격 : 에듀롬과 협약한 국내 대학교 및 연구소의 구성원<br />
이용방법 : <code>eduroam</code> Wi-Fi(SSID)에 대학교 또는 연구소의 <code>이메일주소</code>로 로그인<br />
이용장소 : 전 세계 에듀롬 협력기관 (85개 국가, 4,885개 기관, 23,360개 장소)<br />
<a href="{{ site.baseurl }}/connect">... 더 자세히 알아보기</a>
<h2>국내 에듀롬 Wi-Fi 서비스 지역</h2>
<iframe src="/map/index.html?key=AIzaSyBmmnJJ_u1LM05Ogt9yG1zyiuD-9nvYyJ0" style="border:0px; height:600px;" width="100%"></iframe>
<h2>국제 에듀롬 Wi-Fi 서비스 지역</h2>
<a href="https://monitor.eduroam.org/map_service_loc.php"><img src="/assets/eduroam-world-map.png" width="100%"></a>